body {
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.calculadora {
    background: #2d2d2d;
    padding: 20px;
    border-radius: 20px;
    width: 320px;
}

.historial {
    background: #2d2d2d;
    padding: 20px;
    border-radius: 20px;
    width: 280px;
    max-height: 500px;
}

.historial h3 {
    color: #fff;
    text-align: center;
}

#limpiar-historial {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #ff5555;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9em;
}

#lista-historial {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.operacion-item {
    background: #1a1a1a;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9em;
}

.operacion-item .resultado {
    color: #ff9500;
    font-weight: 600;
}


.pantalla {
    background: #1a1a1a;
    color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: right;
    font-size: 2.5em;
    margin-bottom: 20px;
    overflow: hidden;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}

button {
    padding: 0px;
    width: 70px;     
    height: 70px;    
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
}

button:active {
    transform: scale(0.9);
}

.numero {
    background: #505050;
    color: #fff;
}

.operador {
    background: #ff9500;
    color: #fff;
}

.funcion {
    background: #a6a6a6;
    color: #1a1a1a;
}

.igual {
    background: #ff9500;
    color: #fff;
    grid-column: span 2;
    width: 150px;

}
